body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}

.CstmBody{
    background-color: rgba(138, 132, 132, 0.089);
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

/** for menu items list**/
.navbar-nav li{
    padding : 0px 10px 0px 10px;
}

/** menu items **/
.nav-link{ 
    color: #797272 ;
    font-size: 18px;
}

.site-content{
    background-image: url('../images/banners/visit-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 2% 0 2% 0;
}

.site-title{
    color: #fff;
    margin-top: 20%;
    margin-bottom: 5%;
}

.site-title-mob{
    color: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
}

.CstmCntainer{
    background-color: rgba(227, 37, 40, 0.836);
    padding: 0px 15px 5% 15px ;
    border-radius: 10px;
}

.card-body{
    padding-left: 0px;
    padding-right: 0px;
}

.CstmFormCl{
    margin-left: 5%;
    padding: 20px 0px 0px 0px;
    background-image: url('../images/ot-images/contact.jpg');
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 1px #888888;

}

.CstmFormcontactus{
    margin-left: 5%;
    padding: 20px 0px 0px 0px;
    background-image: url('../images/ot-images/contact.jpg');
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 1px #888888;
    background-position: right center;

}

.txtCstm{
    padding-top: 5px;
    font-weight: 600;
    font-size: 1.2rem;
}


.CstmHr{
    border-style: none;
    padding-top: 2%;
    padding-bottom: 2%;
}


.btn-Cstm{
    background-color: rgba(227, 37, 40, 0.815);
    color: #fff;
}

.site-content-thankyou{
    background-image: url('../images/banners/thanks-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.CstmCntainer-thankyou{
    background-color: #764199c5;
    padding: 0px 15px 15% 15px ;
    border-radius: 10px;
}

.display-2{
    color: #fff;
    margin-top: 25%;
    margin-bottom: 5%;
}

.display-4{
    color: #fff;
    margin-top: 20%;
    margin-bottom: 3%;
}

/* form design*/

input{
    font-size: 16px;
    color: rgb(240, 221, 221);
    padding: 5px 0 5px 0;
}

::placeholder{
    font-size: 14px;
    color: rgb(238, 231, 231);
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="text"]{
    width: 65%;
    height: 30%;
    background-color: rgb(141, 143, 148);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
}

input[type="email"]{
    width: 65%;
    height: 10%;
    background-color: rgb(141, 143, 148);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
}

input[type="tel"]{
    width: 65%;
    height: 10%;
    background-color: rgb(141, 143, 148);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
}

  .bton{
        border-radius: 10px;
        color: #fff;
        font-size: 100%;
        padding : 10px 30px 10px 30px;
        border: 2px solid #fff;
        text-decoration: none;
        background-color: #E32526;
    }
    
    .bton:hover{
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 1px 1px 8px 1px rgb(49, 49, 51);
        background-color: rgba(235, 55, 31, 0.897);
    }
/* form design ends*/


/*pop modal custom button starts*/
.bton-pop{
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding : 10px 30px 10px 30px;
    border: 2px solid #fff;
    text-decoration: none;
    background-color: #764199bd;
}

.bton-pop:hover{
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px 8px 1px rgb(49, 49, 51);
}
/*pop modal custom button ends*/



/** mobile responsive code (showing the content for mobile and desktop) **/

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}

.hr-certified{
    width: 50%;
    text-align:left;
    margin-left: 0;
    
}

.Cstm-headr{
    padding: 5px 0 5px 0;
    background-color: rgba(216, 34, 34, 0.808);
}
